@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --color-bg-dark: #1f1f38;
  --color-bg-light: #4db5ff;
  --color-ft-light: whitesmoke;
  --color-ft-dark: #4db5ff;
  --color-ft-darker: #1f1f38;
  --transition: all 400ms ease;
}

* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  font-family: "Poppins";
  line-height: 1.5rem;
  text-decoration: none;
}

body {
  background-color: var(--color-bg-dark);
  background-image: url("./assets/background.png");
}

section {
  width: 90%;
  margin: 0 auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section h5 {
  color: var(--color-ft-light);
}

section h2 {
  color: var(--color-ft-dark);
  margin-bottom: 2rem;
}

.title {
  margin-top: 1rem;
  -webkit-animation: shake-lr 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-lr 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

/**
 * ----------------------------------------
 * animation shake-lr
 * ----------------------------------------
 */
@-webkit-keyframes shake-lr {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  80% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }
  90% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
}
@keyframes shake-lr {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  80% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }
  90% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
}
